version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: venookah2
      POSTGRES_USER: venookah2
      POSTGRES_PASSWORD: venookah2
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: